<div class="container">
 <div class="mx-auto w-75 text-center">
  <!--w-75で領域の幅を決める．25刻み．で調整可能．colで要素をしても良い-->
  <!--text-centerで領域内で文章を真ん中に持ってくる-->
  <h1>About</h1>
   <div>ながのCAKEは全国発送可能なケーキ屋さんです。</br>
    <br>お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    <br>様々なバリエーションをご用意しております</br>
    <br>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
    <br>ぜひご注文ください</br>
   </div>
  </div>
</div>